
<div class='apartment-in-apartments-list' {{action 'goToApartment' apartment}}>
  <div class='card text-center'>
  <h4 class='card-title'>{{apartment.address}}</h4>
   <p class="card-text">{{apartment.description}}</p>

 </div>
 <ul class="list-group list-group-flush">
   <li class="list-group-item text-center">
     Available for {{format-money apartment.rent precision=0}}
   </li>
 </ul>

</div>
